{% extends "parcoursup/index.html" %}
{% load i18n %}
{% block main %}
{% if action_list.count == 0 %}
<h2>Aucune action à réaliser</h2>
{% else %}
{% blocktrans count action_count=action_list|length %}
<h2>Une action à réaliser</h2>
{% plural %}
<h2>{{ action_count }} actions à réaliser</h2>
{% endblocktrans %}
<p><a href="{% url 'action.export_pdf_adresses' %}"><i class="fas
fa-print"></i>Imprimer les adresses</a></p>
<table>
  <tr>
    <th>Classe</th>
    <th colspan="2">Étudiant</th>
    <th>Statut</th>
    <th>Internat</th>
    <th>Action à réaliser</th>
    <th>Traiter</th>
  </tr>
  {% for action in action_list %}
  <tr>
    <td><a href="{{ action.proposition.classe.get_absolute_url }}">{{ action.proposition.classe }}</a></td>
    <td>{{ action.proposition.etudiant.dossier_parcoursup }}</td>
    <td><a href="{{ action.proposition.etudiant.get_absolute_url }}">{{ action.proposition.etudiant }}</a></td>
    <td>{{ action.proposition.get_statut_display }}</td>
    <td>{{ action.proposition.internat|yesno }}</td>
    <td>
      {% if action.est_envoi %}<i class="fas fa-envelope"></i>{% endif %}
      {% if action.proposition.internat %}<i class="fas fa-home"></i>{% endif %}
      {{ action.get_categorie_display }}
      {% if action.message %}
      <br>{{ action.message }}
      {% endif %}
    </td>
    <td><a href="{% url 'action.traiter' action.pk %}">Traiter</a></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
