{% extends "parcoursup/index.html" %}
{% block main %}
<h2>{{ classe }}</h2>

<table>
  <tr>
    <th>Oui définitif</th>
    <td>{{ classe.admissions_oui|length }}</td>
  </tr>
  <tr>
    <th>Oui avec vœux en attente</th>
    <td>{{ classe.admissions_ouimais|length }}</td>
  </tr>
</table>

<h3>Propositions d'admission</h3>
<table>
  <tr>
    <th>Date</th>
    <th colspan="2">Étudiant</th>
    <th>Internat</th>
    <th>Statut</th>
  </tr>
  {% for etudiant in etudiant_list %}
  <tr>
    <td>{{ etudiant.proposition_actuelle.date_proposition }}</td>
    <td>{{ etudiant.dossier_parcoursup }}</td>
    <td><a href="{{ etudiant.get_absolute_url }}">{{ etudiant }}</a></td>
    <td>{{ etudiant.proposition_actuelle.internat|yesno }}</td>
    <td>{{ etudiant.proposition_actuelle.get_statut_display }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
