{% extends "parcoursup/index.html" %}
{% block main %}
<h2>{{ etudiant.civilite }} {{ etudiant }}</h2>

<h3>Coordonnées</h3>
<table>
  <tr>
    <td><i class="fas fa-home"></i>Adresse</td>
    <td>{% if etudiant.adresse %}
      {{ etudiant.adresse }}
      {% else %}
      L'adresse n'a pas pu être encore obtenue depuis Parcoursup.
      {% endif %}
    </td>
  </tr>
  <tr>
    <td><i class="fas fa-at"></i>E-mail</td>
    <td>{% if etudiant.email %}
      <a href="mailto:{{ etudiant.adresse }}">{{ etudiant.adresse }}</a>
      {% else %}
      L'e-mail n'a pas pu être encore obtenu depuis Parcoursup.
      {% endif %}
    </td>
  </tr>
</table>

<h3>Propositions d'admission</h3>
{% comment %}
<ul>
  <li><a href="{% url 'proposition.ajout' %}?etudiant={{ etudiant.pk }}">Ajouter
      une nouvelle proposition</a></li>
  {% if etudiant.proposition_actuelle and not etudiant.proposition_actuelle.date_demission %}
  <li><a href="{% url 'etudiant.demission' etudiant.pk %}">Démission</a></li>
  {% endif %}
</ul>
{% endcomment %}
<p>
{% if etudiant.proposition_set.count > 0 %}
<table>
  <tr>
    <th>Date</th>
    <th>Classe</th>
    <th>Internat</th>
    <th>Statut</th>
  </tr>
  {% for proposition in etudiant.proposition_set.all %}
  <tr>
    <td>{{ proposition.date_proposition }}</td>
    <td><a href="{{ proposition.classe.get_absolute_url }}">{{ proposition.classe }}</a></td>
    <td>{{ proposition.internat|yesno }}</td>
    <td>{{ proposition.get_statut_display }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Aucune proposition d'admission à ce jour.</p>
{% endif %}

<h3>Actions</h3>
<table>
  <tr>
    <th>Date</th>
    <th>Statut</th>
    <th>Message</th>
    <th>Réalisée le</th>
  </tr>
  {% for proposition in etudiant.proposition_set.all %}
  {% for action in proposition.action_set.all %}
  <tr>
    <td>{{ action.date }}</td>
    <td>{{ action.get_statut_display }}</td>
    <td>{{ action.get_categorie_display }}{% if action.message %}<br>{{ action.message }}{% endif %}</td>
    <td>{% if action.date_fait %}{{ action.date_fait }}{% else %}-{% endif %}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endblock %}
