{% load static %}
{% load navigation %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Suivi des inscriptions</title>
    <link rel="stylesheet" type="text/css" href="{% static 'parcoursup/style.css' %}">
  </head>
  <body>
    <header>
      <h1><a href="{% url 'index' %}">Inscriptions CPGE</a></h1>

      <nav>
        {% show_menu %}
      </nav>
    </header>

    <section id="main">
      {% block main %}
      {% endblock %}
    </section>

  </body>
</html>
