{% load static %}
{% load navigation %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Suivi des inscriptions</title>
    <link rel="stylesheet" type="text/css" href="{% static 'parcoursup/style.css' %}">
  </head>
  <body>
    <header>
      <h1><a href="{% url 'index' %}">Inscriptions CPGE</a></h1>

      <nav>
        {% show_menu %}
      </nav>
    </header>

    <section id="main">
      {% block main %}
      <h2>Résumé</h2>
      <table>
        <tr>
          <th>Classe</th>
          <th>Oui définitifs</th>
          <th>Oui avec vœux en attente</th>
          <th>Total</th>
        </tr>
        {% for classe in classe_list %}
        <tr class="{% if classe.num_admis <= classe.capacite %}capacite_ok{% else %}{% if classe.num_admis <= classe.surbooking %}capacite_surbooking{% else %}capacite_trop{% endif %}{% endif %}">
          <td><a href="{{ classe.get_absolute_url }}">{{ classe }}</a></td>
          <td>{{ classe.admissions_oui|length }}</td>
          <td>{{ classe.admissions_ouimais|length }}</td>
          <td>{{ classe.num_admis }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td><a href="{% url 'internat.details' %}">Internat</a></td>
          <td>{{ num_internat_oui }}</td>
          <td>{{ num_internat_ouimais }}</td>
          <td>{{ num_internat }}</td>
        </tr>
      </table>

      <h2>Synchronisations</h2>
      <p>Liste des dernières tentatives (réussies ou non) de
      synchronisation des données depuis le site Parcoursup. Des
      synchronisations automatiques sont lancées périodiquement. Dans le
      menu de gauche, il est possible de demander une synchronisation
      manuelle immédiate.</p>
      <table>
        <tr>
          <th>Début</th>
          <th>Fin</th>
          <th>Résultat</th>
          <th>Mode</th>
        </tr>
        {% for synchro in synchro_list %}
        <tr>
          <td>{{ synchro.date_debut }}</td>
          <td>{{ synchro.date_fin }}</td>
          <td>{{ synchro.get_resultat_display }}</td>
          <td>{{ synchro.get_mode_display }}</td>
        {% endfor %}
      </table>
      {% endblock %}
    </section>

  </body>
</html>
