{% extends "parcoursup/index.html" %}
{% block main %}
<h2>Internat</h2>

<table>
  <tr>
    <th>Hommes</th>
    <td>{{ num_hommes }}</td>
  </tr>
  <tr>
    <th>Femmes</th>
    <td>{{ num_femmes }}</td>
  </tr>
</table>

<table>
  <tr>
    {% for classe, _ in par_classe.items %}
    <th>{{ classe }}</th>
    {% endfor %}
  </tr>
  <tr>
    {% for _, num in par_classe.items %}
    <th>{{ num }}</th>
    {% endfor %}
  </tr>
</table>

<h3>Propositions d'admission</h3>
<table>
  <tr>
    <th>Date</th>
    <th colspan="2">Étudiant</th>
    <th>Classe</th>
    <th>Statut</th>
  </tr>
  {% for etudiant in etudiant_list %}
  <tr>
    <td>{{ etudiant.proposition_actuelle.date_proposition }}</td>
    <td>{{ etudiant.dossier_parcoursup }}</td>
    <td><a href="{{ etudiant.get_absolute_url }}">{{ etudiant }}</a></td>
    <td>{{ etudiant.proposition_actuelle.classe }}</td>
    <td>{{ etudiant.proposition_actuelle.get_etat_display }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

