.capacite_ok {
  background-color: green;
}

.capacite_trop {
  background-color: red;
}

.capacite_surbooking {
  background-color: orange;
}

.inscrit {
  background-color: #90ee90;
}

.non_inscrit {
  background-color: #FFE5B4;
}
