.capacite_ok {
  background-color: green;
}

.capacite_trop {
  background-color: red;
}

.capacite_surbooking {
  background-color: orange;
}

.inscrit {
  background-color: #90ee90;

  button {
    color: black;
    text-decoration: none;
  }
}

.non_inscrit {
  background-color: #FFE5B4;
  button {
    color: #069;
    text-decoration: underline;
  }
}
